body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(142, 159, 177);
  background-color: rgb(18, 34, 54);
}

.container {
  background-image: url("../Images/02.png");
  background-position: right;
  margin: 30px 150px;
  border-radius: 25px;
  text-align: center;
  border: double;
  padding: 30px;
}

a {
  color: rgb(142, 159, 177);
  font-size: 30px;
  text-decoration: none;
  padding: 30px;
}

a:hover {
  color: aliceblue;
}

h1 {
  background-image: url("../Images/02.png");
  background-position: right bottom;
  margin: 40px 150px;
  border-radius: 25px;
  padding: 30px;
  border: double;
  font-size: 60px;
}

audio {
  opacity: 0.5;
  width: 30%;
}

.Zynkah {
  text-align: center;
}

.certifications {
  text-align: center;
}

.projects {
  text-align: center;
}


img {
  display: inline-block;
  border: double;
  border-radius: 35px;
  height: 300px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  text-decoration: underline double 1px;
}

ul {
  background-image: url("../Images/02.png");
  background-position: center right;
  margin-left: 20%;
  border: double;
  border-radius: 35px;
  width: 50%;
  list-style-type: none;
  padding: 20px;
}

.top_ul{
  background-image: url("../Images/02.png");
  background-position: top right;
  padding: 20px;
}

li a {
  color: rgb(14, 35, 63);
  font-size: 18px;
  text-decoration: none;  
}

li a:hover{
  color:rgb(72, 39, 202);
}

footer {
  text-align: right;
}